body{
	background-color: #DCDCDC;
}

a{
	color:black;
}

label{
	font-size: 15px !important;
	color: black;
	font-weight: bold;
}

.cor-adjacente{
	background-color: #B0C4DE;
}

.negrito{
	font-weight: bold;
}

.campo-search{
	margin-top:40px;
}

.search{
	font-size:20px !important;
}

.botao-novo{
	margin-top:50px;
}

.tabela-head{
	background-color:#A9A9A9;
	font-size: 20px;
}

.tabela-linha{
	background-color:#B5B5B5;
	border:1px solid;
}




